@model Charicare2.Models.AppViewModels.DashboardListViewModel
@using FusionCharts.Charts


@{  
    ViewData["pic1"] = @"/images/c50.png";
    ViewData["pic2"] = @"/images/g50.png";
    ViewData["pic3"] = @"/images/m50.png";
    ViewData["pic4"] = @"/images/med50.png";
    ViewData["back"] = @"/images/senior-care-logo.png";

    <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="~/lib/fusioncharts/fusioncharts.maps.js"></script>
    <script type="text/javascript">
        FusionCharts.ready(function () {
            var fusioncharts = new FusionCharts({
                type: 'column3d',
                renderAt: 'chart-container',
                width: '600',
                height: '400',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Chart ",
                        "subCaption": "Donate Type vs Total Value",
                        "xAxisName": "Donate Type Name",
                        "yAxisName": "Value (In USD)",
                        "numberPrefix": "$",
                        "aligncaptionwithcanvas": "0",
                        "numberprefix": "$",
                        "canvasbgalpha": "0",
                        "showborder": "0",
                        "divlinealpha": "25",
                        "canvasbasecolor": "#5dfe00",
                        "bgimage": "@ViewData["back"]",
                        "bgimagealpha": "15",
                        "bgimagedisplaymode": "stretch",
                        "palettecolors": "#39870C"
                    },
                    "annotations": {
                        "autoscale": "1",
                        "scaleimages": "1",
                        "origw": "30",
                        "origh": "30",
                        "groups": [
                            {
                                "id": "user-images",
                                "items": [
                                    {
                                        "id": "pic1-icon",
                                        "type": "image",
                                        "url": "@ViewData["pic1"]",
                                        "x": "$dataset.0.set.0.CenterX - 35.5",
                                        "y": "$dataset.0.set.0.EndY + 37"
                                    },
                                    {
                                        "id": "pic2-icon",
                                        "type": "image",
                                        "url": "@ViewData["pic2"]",
                                        "x": "$dataset.0.set.1.CenterX - 35.5",
                                        "y": "$dataset.0.set.1.EndY + 37"
                                    },
                                    {
                                        "id": "pic3-icon",
                                        "type": "image",
                                        "url": "@ViewData["pic3"]",
                                        "x": "$dataset.0.set.2.CenterX - 30.5",
                                        "y": "$dataset.0.set.2.EndY + 37"
                                    },
                                    {
                                        "id": "pic4-icon",
                                        "type": "image",
                                        "url": "@ViewData["pic4"]",
                                        "x": "$dataset.0.set.3.CenterX - 30.5",
                                        "y": "$dataset.0.set.3.EndY + 37"
                                    }
                                ]
                            }
                        ]
                    },

                    "data": [
                      {
                          "label": "Clothes",
                          "value": "@Model.ClothTotalValue"
                      },
                      {
                          "label": "Goods",
                          "value": "@Model.GoodsTotalValue"
                      },
                      {
                          "label": "Money",
                          "value": "@Model.MoneyTotalValue"
                      },
                      {
                          "label": "Medical",
                          "value": "@Model.MedicalTotalValue"
                      }]
                }
            }
        );
            fusioncharts.render();
        });
    </script>
}

<div id="dashboardPage" class="Dashboard">
    <table class="table">
        <thead>
            <div class="panel-heading blak"><h3 style="font-size: 3rem;">Dashboard</h3></div>
        </thead>
        <tbody>
            <tr>
                <div class="parallax1">
                    <div class="panel panel-success row">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <img src="~/images/a-motto.png" width="400" height="270" />
                            </div>
                            <div class="col-md-6">
                                <div class="panel-heading blak"><b>Count of Donations</b></div><br />
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">@Model.TotalCountOfClothesDonates</span>
                                        Clothings
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">@Model.TotalCountOfMoneyDonates</span>
                                        Money 
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">@Model.TotalCountOfGoodsDonates</span>
                                        Goods 
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">@Model.TotalCountOfMedicalDonates</span>
                                        Medicals 
                                    </li>
                                </ul>
                            </div>
                            <div class="alert alert-success labels" style="text-align:right;">Total Amount of Money Donated is =<b> @Model.TotalAmontOfMoney</b></div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr>
                <td>
                    <div class="row parallax1">
                        <div class="panel-heading blak" ><b>Donate Type vs Total Values</b></div><br />
                        <div ID="chart-container" style="text-align:center;"></div><br />
                        <div class="well well-sm col-md-offset-1 col-md-10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name of Donates</th>
                                        <th>Value in $</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Values of Donation from  Cloths:</td>
                                        <td>$@Model.ClothTotalValue</td>
                                    </tr>
                                    <tr>
                                        <td>Total Values of Donation from  Goods:</td>
                                        <td>$@Model.GoodsTotalValue</td>
                                    </tr>
                                    <tr>
                                        <td>Total Values of Donation from  Money:</td>
                                        <td>$@Model.MoneyTotalValue</td>
                                    </tr>
                                    <tr>
                                        <td>Total Values of Donation from Medicals:</td>
                                        <td>$@Model.MedicalTotalValue</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="panel panel-success" style="text-align:center;">
                        <div class="panel-heading blak" style="text-align:center;"><b>List Of All Donates</b></div>
                       <br /> <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.ActionLink("Donates Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                                    </th>
                                    <th>
                                        @Html.ActionLink("Value in $", "Index", new { sortOrder = ViewBag.ValueSortParm })
                                    </th>
                                    <th>
                                        @Html.ActionLink("DateCreated", "Index", new { sortOrder = ViewBag.DateSortParm })
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var theRole = Model.UserRole;
                                }
                                @foreach (var item in Model.donatesss)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Value)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>
                                        @if (theRole == "Administrator")//check if logged in user exists
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.DonateId" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit" title="Edit"></i></a> |
                                                <a asp-route-id="@item.DonateId" asp-action="Details" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-info-sign" title="Details"></i></a> |
                                                <a asp-action="Delete" asp-route-id="@item.DonateId" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-trash" title="Delete"></i></a>
                                            </td>
                                        }
                                        else { }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--MODAL-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="divModalBody">
                </div>
            </div>
        </div>
    </div>
</div>






