@model Charicare2.Models.AppViewModels.DashboardListViewModel


@{
    ViewData["Title"] = "Dashboard";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Count of Clothes donners is = @Model.TotalCountOfClothesDonners</p>
<p>Count of money donners is = @Model.TotalCountOfMoneyDonners</p>
<p>Count of Goods donners is = @Model.TotalCountOfGoodsDonners</p>
<p>Count of Medicals donners is = @Model.TotalCountOfMedicalDonners</p>

<p>Sum of Amount of Money Donated is = @Model.TotalAmontOfMoney.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Lists of all donates</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.donates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DonateId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DonateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DonateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
