@model Charicare2.Models.AppViewModels.DonateTypeListViewModel

@{
    ViewData["Title"] = "Donate Categories";
    ViewData["Mssage"] = "Your donations to The ChariCare,  help transform lives! It is financial contributions that make it possible for The Bowery Mission, Mont Lawn Camp and Mont Lawn City Camp to provide help and hope to the homeless and poor in Nashville City. ";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>@ViewData["Title"]</h2></div>
    <div class="panel-body">
        <p>@ViewData["Mssage"]</p>
    </div>

    <!-- Table -->
    <table class="table">
        <ul>
            <li>
                <a asp-controller="Donate" asp-action="Clothes">@Html.DisplayFor(model => model.DonateTypes[0].Name)</a>
            </li>
            <li>
                <a asp-controller="Donate" asp-action="Goods">@Html.DisplayFor(model => model.DonateTypes[1].Name)</a>
            </li>
            <li>
                <a asp-controller="Donate" asp-action="Money">@Html.DisplayFor(model => model.DonateTypes[2].Name)</a>
            </li>
            <li>
                <a asp-controller="Donate" asp-action="Medical">@Html.DisplayFor(model => model.DonateTypes[3].Name)</a>
            </li>
        </ul>
    </table>
</div>